body {
    overflow:hidden;
    background:black;
    transition:background 1s;
}

.wrapper {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.container {
}

.slide {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:transform 1s, background 1s, color 1s;
}
.centered {
    text-align:center;
}

.theme_dark {
    background:#222;
    color:#eee;
}
.theme_dark_translucent {
    background:rgba(30, 30, 30, .8);
    color:#eee;
}

.theme_light {
    background:#f9f9f9;
    color:black;
}
.theme_light_translucent {
    background:rgba(250, 250, 250, .8);
}

.rotate_slide_find_origin {
    transform-origin:50% 50%;
}
